<nav class="navbar navbar-secondary background-color=#d3d3d3 col-lg-8 mx-auto " >
    <div class="container"> 
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link btn btn-warning text-light" href="#"> 
            <h6 style="font-family: Verdana;" [ngStyle]="{'font-weight': 700}"> 
            Personas
           </h6> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-warning text-light" href="#"> 
            <h6 style="font-family: Verdana;" [ngStyle]="{'font-weight': 700}"> 
              Negocios 
            </h6> 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-warning text-light" href="#"> 
            <h6 style="font-family: Verdana;" [ngStyle]="{'font-weight': 700}"> 
              Quienes somos 
            </h6> 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-warning text-light" href="#"> 
            <h6 style="font-family: Verdana;" [ngStyle]="{'font-weight': 700}"> 
              Accesibilidad 
            </h6> 
          </a>
        </li>
      </ul>
    </div>
    <style>
      .navbar {
        height: 50px;
      }
    </style>
</nav>

<div class="container">
    <a class="navbar-brand text-left font-size-20 nav-link text-danger col-lg-4 offset-lg-1 " href="#">
      <h1 style=" font-family: Arial;" [ngStyle]="{'font-weight':700}" >
        FINANCIERA CON TODO
      </h1>
    </a>
    <style>
      .navbar {
        height: 50px;
      }
    </style>
</div>
 
<nav class="navbar navbar-light bg-light position-relative col-lg-8 mx-auto mt-3 ">
        <div class="container">   
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link btn btn-light text-secondary text-left" href="#">Canales de Atencion
                <h6>localiza tus canales de atencion aqui</h6>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-light text-secondary text-left" href="#">Ubicanos
                <h6>localiza tus canales de atencion aqui</h6>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-light text-secondary text-left" href="#">Contactanos
                <h6>localiza tus canales de atencion aqui</h6>
              </a>
            </li>
            <li>
              <a class="nav-link btn btn-light text-secondary text-left" href="#">
                <h6>|</h6>
              </a>
            </li>
            <li>
              <form class="form-inline float-right">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" style="width: 100px;">
              </form>
            </li>
            <li>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </li>
          </ul>
        </div> 
</nav>
<nav class="navbar navbar-danger bg-danger position-relative col-lg-8 mx-auto ">
        <style>
          .navbar {
            height: 80px;
          }
        </style>
        <div>
            <img src="assets/imagen-fondo.jpg" class="img-fluid mt-5"  width="2000px" height="1000px">">
        </div>
</nav>
     